@font-face {
  src: url(../../vendor/fonts/LindenHill-Regular.ttf);
  font-family: "Linden Hill";
}

.header {
  padding: 0 0 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.header__container:hover {
  cursor: pointer;
}

.header__logo {
  width: 40px;
}

.header__title {
  margin: 0;
  font-family: "Linden Hill", "Times New Roman", serif;
  font-size: 24px;
  color: #1d2d5a;
}
